build/*
lib/*
.vscode/*
+quadriga_lib/*.mex*
external/armadillo-*/
external/MOxUnit-master/
external/pugixml-*/
external/Catch2-*/
external/hdf5-*/
external/pybind11-*/
tests/test*
tests/afl/afl_out/*
tests/afl/bin/*
tools/extract_html_mex_api.py

